@import url(card-component.css);

/* 카드 레이아웃 */
.container-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--base-spacing);
}

@media (min-width: 1024px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
